.playerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    height: 100vh;
    width: 26.5rem;
    padding: 3rem 4rem;

    background-color: var(--purple-500);
    color: var(--white);
}

.playerContainer header {
    display: flex;
    align-items: center;

    gap: 1rem;
}

.playerContainer strong {
    font-family: Lexend, sans-serif;
    font-weight: 600;
}

.playerContainer footer { align-self: stretch; }
.playerContainer footer.empty .progress { opacity: 0.6; }

.playerContainer .currentEpisode {
    text-align: center;
}

.playerContainer .currentEpisode img {
    border-radius: 1.5rem;
}

.playerContainer .currentEpisode strong {
    display: block;
    margin-top: 2rem;
    font: 600 1.25rem Lexend, sans-serif;
    line-height: 1.75;
}

.playerContainer .currentEpisode span {
    display: block;
    margin-top: 1rem;
    opacity: 0.6;
    line-height: 1.5;
}

.playerContainer .emptyPlayer {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20rem;
    width: 100%;

    border: 0.2rem dashed var(--purple-300);
    border-radius: 1.5rem;

    padding: 4rem;
    text-align: center;

    background-color: rgba(145, 100, 250. 0.8);
    background: linear-gradient(143.8deg, #9164facc 0%, transparent 100%);
}

.playerContainer .progress {
    display: flex;
    align-items: center;

    gap: 0.5rem;
    font-size: 0.875rem;
}

.playerContainer .progress span {
    font-variant-numeric: tabular-nums;
    display: inline-block;
    width: 4rem;
    text-align: center;
}

.playerContainer .progress .slider {
    flex: 1;
}

.playerContainer .progress .slider .emptySlider {
    height: 4px;
    width: 100%;

    background-color: var(--purple-300);
    border-radius: 2px;
}

.playerContainer .buttons {
    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 2.5rem;
    gap: 1.5rem;
}

.playerContainer .buttons button {
    font-size: 0;

    background-color: transparent;
    border: 0;

    transition: filter 0.2s;
}

.playerContainer .buttons button:disabled {
    cursor: default;
    opacity: 0.6;
}

.playerContainer .buttons button:not(:disabled):hover {
    filter: brightness(0.7);
}

.playerContainer .buttons button.isActive {
    filter: invert(0.35) sepia(1) saturate(3) hue-rotate(100deg);
}

.playerContainer .buttons button.isActive:hover {
    filter: invert(0.35) sepia(1) saturate(3) hue-rotate(100deg) brightness(0.7);
}

.playerContainer .buttons button.playButton {
    height: 4rem;
    width: 4rem;

    border-radius: 1rem;
    background-color: var(--purple-400);
}

.playerContainer .buttons button.playButton:not(:disabled):hover {
    filter: brightness(0.95);
}
